<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="hb-loaded" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:value="${session.user}" id="mydiv2"></div>
<!--登录注册-->
<ul class="tright-ul fl">
    <div id="ucheader1_pllogin1">
        <div th:if="${!#strings.isEmpty(session.user)}">
            <li><a><span id="ctl00_ucheader_lit" th:text="${session.user.username}">KLNgOk</span></a></li>
            <li><a href="javascript:;" rel="nofollow" id="loginout">退出</a><em>|</em></li>
            <li><a id="myInfo" target="black" rel="nofollow" href="member_index.html">我的DR</a><em>|</em></li>
            <li class="headed"><em class="icon shooping"></em><a target="black" rel="nofollow"
                                                                 href="cart.html">购物车</a><i>(0)</i></li>
        </div>
        <div th:if="${#strings.isEmpty(session.user)}">

            <li><a rel="nofollow" href="login.html">登录</a><em>|</em></li>
            <li><a rel="nofollow" href="reg.html">注册</a></li>
            <li class="headed"><em class="icon shooping"></em><a target="black" rel="nofollow"
                                                                 href="cart.html">购物车</a><i>(0)</i></li>
        </div>
    </div>
</ul>
<!--语言选择-->
<ul class="langruge-ul fr">
    <li><a target="_blank" href="index.html/en">English</a></li>
</ul>

<script src="js/jquery-1.12.4.js"></script>
<script type="text/javascript">

    $(function(){

        if($("#mydiv2").val()==null){

            alert("登录已失效，返回首页");
            location.href="login.html";

        };

        /**
         * 登出账号
         */
        $("#loginout").click(function () {
            if (confirm("您确定登出吗？")) {
                $.get("/dr-user/loginout", null, function () {

                    location.href = "/index.html";
                });

            }
        });

        //跳转个人信息页面
        $("#myInfo").click(function(){
            location.href = "localhost:8080/member_index.html";
        });

    });


</script>
</body>

</html>
